In [1]:
%load_ext autoreload
%autoreload 2

In [ ]:
from models.reddit_scraper import RedditScraper
from config.settings import USER_AGENT
from utils.analysis import *


scraper = RedditScraper(USER_AGENT)

subs_of_interest = ['China', 'taiwan', 'HongKong']

for sub in subs_of_interest:  
    posts = scraper.get_subreddit_posts(sub, limit=5000, cache=True)
    posts_df = create_posts_dataframe(posts)
    name = sub + "_df.csv"
    posts_df.to_csv(f"../data/{name}")

    tfidf_results = tfidf_analyze_subreddit(posts)
    tf_idf_scores = get_mean_tfidf(
        tfidf_matrix=tfidf_results['tfidf_matrix'],
        feature_names=tfidf_results['feature_names'],
        return_df=True
    )
    
    top_terms = get_top_terms(tf_idf_scores, n_terms=12)
    print(top_terms)
    top_ten = top_terms[:10]
    print(f"The top terms for {sub} are:\n", "\n".join(top_ten), sep="")
    display(tf_idf_scores.head(100).style.format("{:.3f}"))
    tfid = sub + "_tfidf.csv"
    tf_idf_scores.to_csv(f'../data/{tfid}')

['china', 'chinese', 'help', 'get', 'travel', 'taiwan', 'find', 'like', 'anyone', 'use', 'visa', 'shanghai']
The top terms for China are:
china
chinese
help
get
travel
taiwan
find
like
anyone
use

['taiwan', 'taipei', 'taiwanese', 'question', 'travel', 'best', 'buy', 'get', 'help', 'day', 'chinese', 'typhoon']
The top terms for taiwan are:
taiwan
taipei
taiwanese
question
travel
best
buy
get
help
day

['hong', 'kong', 'buy', 'get', 'look', 'anyone', 'store', 'travel', 'best', 'day', 'find', 'place']
The top terms for HongKong are:
hong
kong
buy
get
look
anyone
store
travel
best
day